@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

*:focus {outline:0;}

/* body {
  margin: 0;
} */
#root {
  max-width: 100vw;
  max-height: 100vh;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
img {
  border-radius: 30%;
}

.container {
  display: inline-grid;
  grid-template-columns: 20%  40% 40%;
  height: 100vh;
  width: 100vw;
}
.recommended {
    
  width: 100%;
  text-align: center;
  margin-left: 50px;
  min-width: 200px;
  background: #0c0707;
  padding: 40px;
  color: white;
  
}

.sidebar {
  margin-right: 60px;
  min-width: 290px;
  background: #525252;
  padding: 30px;
  color: white;
}

.profile h2 {
  margin: 0;
  align-self: center;
  font-weight: 400;
  font-style: italic;
}

.profile-photo {
  height: 100px;
}

ul {
  padding: 20;
  overflow: auto;
}

li {
  list-style: none;
  background-image: none;
  background-position: 0;
  cursor: pointer;
  font-weight: 100;
  padding: 5px 0;
}

.sidebar input {
  height: 20px;
  border: none;
  line-height: 15px;
  padding: 5px 5px;
}

.sidebar button {
  height: 21px;
  border: none;
  background: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.message {
  display: flex;
  margin: 20px 10px;
}

.message img {
  height: 100px;
  width: 100px;
}

.message .username {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  font-style: italic;
}

.message .text {
  font-size: 50px;
  margin: 5px 10px;
  font-weight: 100;
}

.chat {
  width: 100%;
  height: 75%;
  overflow: scroll;
}
h1{
  font-size: 10em;
  font-stretch: ultra-expanded;
}
.chat form {
  position: relative;
  bottom: 0;
  margin: 20px 0px;
  width: 80%;
  height: 60%;
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
}

.chat input[type="text"] {
  width: 80%;
  border: 0;
  font-size: 20px;
  margin-left: 10px;
}

.chat input[type="submit"] {
  border: none;
  height: 40px;
  background: black;
  color: white;
  position: absolute;
  right: -1px;
  top: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 110px;
  cursor: pointer;
}




  .scroll-auto {
    -webkit-overflow-scrolling: auto; /* Lets it scroll lazy */
  }

  

  .player-wrapper {
    display: flex;
    justify-content: center;
   
    position: relative;
    padding-top: 10.00% /* Player ratio: 100 / (1280 / 720) */
  }
  .react-player {
    position: relative;
    
    
  }
  .center{
    margin-top: 92px;
  }

  .glow {
    font-size: 80px;
    color:pink;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }