@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}

*:focus {outline:0;}

body {
  margin: 0;
}

img {
  border-radius: 35%;
}

.container {
  display: flex;
  height: 95vh;
}

.sidebar {
  margin-right: 60px;
  min-width: 290px;
  background: #525252;
  padding: 30px;
  color: white;
}

.profile h2 {
  margin: 0;
  font-weight: 400;
  font-style: italic;
}

.profile-photo {
  height: 100px;
}

ul {
  padding: 20;
  overflow: auto;
}

li {
  list-style: none;
  background-image: none;
  background-position: 0;
  cursor: pointer;
  font-weight: 100;
  padding: 5px 0;
}

.sidebar input {
  height: 20px;
  border: none;
  line-height: 15px;
  padding: 5px 5px;
}

.sidebar button {
  height: 21px;
  border: none;
  background: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.message {
  display: flex;
  margin: 20px 10px;
}

.message img {
  height: 50px;
}

.message .username {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  font-style: italic;
}

.message .text {
  font-size: 13px;
  margin: 5px 10px;
  font-weight: 100;
}

.chat {
  width: 100%;
  height: 75%;
  overflow: scroll;
}

.chat form {
  position: relative;
  bottom: 0;
  margin: 20px 0px;
  width: 60%;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}

.chat input[type="text"] {
  width: 80%;
  border: 0;
  font-size: 13px;
  margin-left: 10px;
}

.chat input[type="submit"] {
  border: none;
  height: 40px;
  background: black;
  color: white;
  position: absolute;
  right: -1px;
  top: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 110px;
  cursor: pointer;
}

.recommended {
    display: flex;
    width: 50%;
    text-align: center;
    margin-left: 100px;
    min-width: 200px;
    background: #0c0707;
    padding: 40px;
    color: white;
    justify-content: flex-start;
  }

  .scroll-auto {
    -webkit-overflow-scrolling: auto; /* Lets it scroll lazy */
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

