@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
/* margin: 0;
  padding: 0;
  box: border-box;
} */

*:focus {
  outline: 0;
}

#root {
  max-width: 100vw;
  max-height: 100vh;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
img {
  border-radius: 30%;
}

.login {
  background-image: url("https://media.giphy.com/media/rd2o2ZgHjFSO4/giphy.gif");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  display: inline-grid;
  grid-template-columns: 20% 40% 40%;
  height: 100vh;
  width: 100vw;
}

.recommended {
  width: 100%;
  text-align: center;
  margin-left: 5px;
  /* min-width: 200px; */
  background: #0c0707;
  padding: 40px;
  color: white;
  overflow: scroll;
}

.wrapper {
  /* overflow: scroll; */
  /* padding-bottom: 1000px; */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.player-wrapper {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* position: relative; */
  padding-top: 10%; /* Player ratio: 100 / (1280 / 720) */
}
.react-player {
  position: relative;
}

.sidebar {
  margin-right: 5px;
  min-width: 290px;
  background: #525252;
  padding: 50px;
  color: black;
  overflow: scroll;
}
/* 
.sidebar h1{
  font-size: 4em;
  font-stretch: ultra-expanded;
} */
.profile h3 {
  margin: 22px;
  align-self: left;
  font-weight: 200;
  font-style: italic;
}

.profile-photo {
  height: 200px;
}

.channelsList {
  overflow: scroll;
  font-size: 30px;
}
/* .sidebar ul {
  padding: 20;
  overflow: scroll;
} */

li {
  list-style: none;
  background-image: none;
  background-position: 0;
  cursor: pointer;
  font-weight: 100;
  padding: 5px 0;
}

.sidebar input {
  height: 20px;
  border: none;
  line-height: 15px;
  padding: 5px 5px;
}

.appChannels button {
  height: 20px;
  border: none;
  background: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.cl button {
  height: 20px;
  border: none;
  background: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.message {
  display: flex;
  margin: 30px 20px;
}

.message img {
  height: 60px;
  width: 60px;
}

.message .username {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-style: italic;
}

.message .text {
  font-size: 20px;
  margin: 5px 10px;
  font-weight: 200;
}
.chat-container {
  display: inline-grid;
  grid-template-rows: 8% 42% 50%;
  margin-bottom: -200px;
  overflow: hidden;

  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */

  /* width: 40vw;
  height: 99vh; */
  /* position: fixed; */
}
.chat-title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 3em;
  margin: 0.5em 0;
}
.chat {
  width: 40%;
  height: 70%;
  overflow: scroll;
  /* position: relative; */
  /* position: -webkit-sticky; */
  position: fixed;
  /* top: 500px; */
}
.chat-container h1 {
  font-size: 4em;
  margin: 0.5em 0;
  /* position: fixed; */
}

.chat-container form {
  /* position: relative; */
  bottom: 0;
  margin: 10px 10px 10px 10px;
  width: 30%;
  height: 12%;
  border: 1px solid;
  /* padding: 50px; */
  border-radius: 10px;
  position: fixed;
}

.chat input[type="text"] {
  width: 60%;
  border: 0;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 25px;
}

.chat input[type="submit"] {
  border: none;
  height: 40px;
  background: black;
  color: white;
  position: absolute;
  right: -1px;
  top: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 110px;
  cursor: pointer;
}

.scroll-auto {
  -webkit-overflow-scrolling: auto; /* Lets it scroll lazy */
}

.center {
  margin-top: 92px;
}

.glow {
  font-size: 40px;
  /* position: fixed; */
  color: pink;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.logout {
  line-height: 2.5;
  width: 10rem;
  padding-bottom: 10px;
}
